# Python
__pycache__/
*.pyc
*.pyo

# Virtual environments
venv/
env/
.venv/
medenv/

# Environment variables
.env

# VSCode and IDE files
.vscode/
.idea/

# OS junk
.DS_Store
Thumbs.db

# Logs
*.log

# Flask cache
instance/

# Personal Documents
Documents/

# Database
*.db
db

# Tests
test_queries.py